Repository lnls-sirius/machine-applications, changes with the owners that CODEOWNERS names for each.
All owners: @xresende, @anacso17, @fernandohds564

CODEOWNERS:

# -------- LIST OF CONTRIBUTERS --------

# @murilobalves
# @xresende
# @anacso17
# @fernandohds564
# @liulin-lili

# --- default owners of the repo
* @xresende @anacso17 @fernandohds564


# -------- BASIC MODULES --------

# --- pcaspy-template-generator
/pcaspy-template-generator/ @xresende


# -------- SUBPACKAGES --------

# --- as-ap-currinfo
/as-ap-currinfo/ @anacso17

# --- as-ap-opmode
/as-ap-opmode/ @xresende @anacso17

# --- as-ap-opticscorr
/as-ap-opticscorr/ @anacso17 @fernandohds564 @xresende

# --- as-ap-posang
/as-ap-posang/ @anacso17 @fernandohds564 @xresende

# --- as-ma
/as-ma/ @xresende @anacso17

# --- as-ps
/as-ps/ @xresende @anacso17

# --- as-ti-control
/as-ti-control/ @fernandohds564 @xresende @anacso17

# --- as-ap-sofb
/as-ap-sofb/ @fernandohds564 @xresende @anacso17

TIM.MNT: Increase connection waiting time and add warning when not all of them connected.
  as-ti-control/as_ti_control/as_ti_control.py
Owners: @fernandohds564, @xresende, @anacso17

TIM.API: remove wait argument of IOC and set extra waiting time before lock to 5s.
  as-ti-control/as_ti_control/as_ti_control.py
  as-ti-control/scripts/sirius-ioc-as-ti-control.py
Owners: @fernandohds564, @xresende, @anacso17

TIM.MNT: Follow @ericonr and @xresende suggestion and add local variable.
  as-ti-control/as_ti_control/as_ti_control.py
Owners: @fernandohds564, @xresende, @anacso17

TIM.MNT: Decrease waiting time to start locking.
  as-ti-control/as_ti_control/as_ti_control.py
Owners: @fernandohds564, @xresende, @anacso17

TIM.FIX: Fix DeltaDelay PVs initialization problem.
  as-ti-control/as_ti_control/as_ti_control.py
Owners: @fernandohds564, @xresende, @anacso17

Update version to 3.51.0
  VERSION
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.WIP: Create files.
  Makefile
  si-rf-monitor/LICENSE
  si-rf-monitor/MANIFEST.in
  si-rf-monitor/Makefile
  si-rf-monitor/README.md
  si-rf-monitor/VERSION
  si-rf-monitor/pyproject.toml
  si-rf-monitor/requirements.txt
  si-rf-monitor/scripts/sirius-ioc-si-rf-monitor.py
  si-rf-monitor/setup.py
  si-rf-monitor/si_rf_monitor/access_rules.as
  si-rf-monitor/si_rf_monitor/main.py
  si-rf-monitor/si_rf_monitor/pvs.py
  si-rf-monitor/si_rf_monitor/si_rf_monitor.py
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.WiP: continue editing files.
  si-rf-monitor/si_rf_monitor/main.py
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.WIP: continue editing.
  si-rf-monitor/si_rf_monitor/main.py
  si-rf-monitor/si_rf_monitor/si_rf_monitor.py
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.ENH: Finish first version of IOC.
  si-rf-monitor/si_rf_monitor/__init__.py
  si-rf-monitor/si_rf_monitor/main.py
  si-rf-monitor/si_rf_monitor/pvs.py
  si-rf-monitor/si_rf_monitor/si_rf_monitor.py
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.ENH: Add some tools.
  si-rf-monitor/si_rf_monitor/si_rf_monitor.py
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.FIX: Small bug fixes.
  si-rf-monitor/si_rf_monitor/main.py
  si-rf-monitor/si_rf_monitor/pvs.py
  si-rf-monitor/si_rf_monitor/si_rf_monitor.py
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.FIX: add script to setup.py.
  si-rf-monitor/setup.py
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.FIX: fix script.
  si-rf-monitor/scripts/sirius-ioc-si-rf-monitor.py
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.FIX: fix missing call to super.
  si-rf-monitor/setup.py
  si-rf-monitor/si_rf_monitor/main.py
Owners: @xresende, @anacso17, @fernandohds564

Add new info to log.
  si-rf-monitor/si_rf_monitor/main.py
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.MNT: Change default time of average.
  si-rf-monitor/si_rf_monitor/pvs.py
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.FIX: remove copied code.
  si-rf-monitor/si_rf_monitor/si_rf_monitor.py
Owners: @xresende, @anacso17, @fernandohds564

SIRFMON.MNT: Change default time to 300s.
  si-rf-monitor/si_rf_monitor/pvs.py
Owners: @xresende, @anacso17, @fernandohds564

RFMON.FIX: Fix fitting problem when PV does not update regularly.
  si-rf-monitor/si_rf_monitor/main.py
Owners: @xresende, @anacso17, @fernandohds564

Make PS App derive from Callback and and a few Log-Mon msgs
  as-ps/as_ps/as_ps.py
  as-ps/as_ps/main.py
Owners: @xresende, @anacso17

Refactor logginf in as-ps
  as-ps/as_ps/main.py
Owners: @xresende, @anacso17

Fix bug just introduced in as_ps
  as-ps/as_ps/main.py
Owners: @xresende, @anacso17

Update logging in as-ps
  as-ps/as_ps/main.py
Owners: @xresende, @anacso17

Adapt as-ps for new logging
  as-ps/as_ps/as_ps.py
  as-ps/as_ps/main.py
Owners: @xresende, @anacso17

Change AS-PS IOC to work with only one BBB
  as-ps/as_ps/as_ps.py
  as-ps/as_ps/main.py
  as-ps/scripts/sirius-ioc-as-ps.py
Owners: @xresende, @anacso17

Adapt imports according to Ruff
  as-ps/as_ps/main.py
Owners: @xresende, @anacso17

Ruff formatting and nw logging
  as-ps/as_ps/as_ps.py
  as-ps/as_ps/main.py
Owners: @xresende, @anacso17

RFMON.ENH: Add PVs for first cavity.
  si-rf-monitor/si_rf_monitor/main.py
  si-rf-monitor/si_rf_monitor/pvs.py
  si-rf-monitor/si_rf_monitor/si_rf_monitor.py
Owners: @xresende, @anacso17, @fernandohds564

RFMON.MNT: Format files.
  si-rf-monitor/si_rf_monitor/main.py
  si-rf-monitor/si_rf_monitor/pvs.py
  si-rf-monitor/si_rf_monitor/si_rf_monitor.py
Owners: @xresende, @anacso17, @fernandohds564

RFMON.FIX: Fix bug in pvs_database.
  si-rf-monitor/si_rf_monitor/main.py
Owners: @xresende, @anacso17, @fernandohds564

RFMON.FIX: Fix bug in pvs_database.
  si-rf-monitor/si_rf_monitor/main.py
Owners: @xresende, @anacso17, @fernandohds564

RFMON.FIX: Fix bug with Version PV definition.
  si-rf-monitor/si_rf_monitor/si_rf_monitor.py
Owners: @xresende, @anacso17, @fernandohds564

RFMON.FIX: Fix driver process call.
  si-rf-monitor/si_rf_monitor/si_rf_monitor.py
Owners: @xresende, @anacso17, @fernandohds564

RFMON.FIX: Fix PV names for Cryomodule 1.
  si-rf-monitor/si_rf_monitor/main.py
  si-rf-monitor/si_rf_monitor/pvs.py
  si-rf-monitor/si_rf_monitor/si_rf_monitor.py
Owners: @xresende, @anacso17, @fernandohds564

Add as-ap-injbeamdiag (init.)
  as-ap-injbeamdiag/LICENSE
  as-ap-injbeamdiag/MANIFEST.in
  as-ap-injbeamdiag/Makefile
  as-ap-injbeamdiag/README.md
  as-ap-injbeamdiag/VERSION
  as-ap-injbeamdiag/as_ap_injbeamdiag/VERSION
  as-ap-injbeamdiag/as_ap_injbeamdiag/access_rules.as
  as-ap-injbeamdiag/as_ap_injbeamdiag/as_ap_injbeamdiag.py
  as-ap-injbeamdiag/as_ap_injbeamdiag/csdev.py
  as-ap-injbeamdiag/as_ap_injbeamdiag/main.py
  as-ap-injbeamdiag/pyproject.toml
  as-ap-injbeamdiag/requirements.txt
  as-ap-injbeamdiag/scripts/sirius-ioc-as-ap-injbeamdiag.py
  as-ap-injbeamdiag/setup.py
Owners: @xresende, @anacso17, @fernandohds564

Update template files
  pcaspy-template-generator/template_files/pcaspy-template/csdev.py
  pcaspy-template-generator/template_files/pcaspy-template/main.py
  pcaspy-template-generator/template_files/pcaspy-template/pvs.py
  pcaspy-template-generator/template_files/pcaspy-template/run.py
Owners: @xresende

Update pcaspy template files
  pcaspy-template-generator/project-name/py_project_name/csdev.py
  pcaspy-template-generator/project-name/py_project_name/main.py
  pcaspy-template-generator/project-name/py_project_name/pvs.py
  pcaspy-template-generator/project-name/py_project_name/py_project_name.py
Owners: @xresende

Update as-ap-injbeamdiaj
  as-ap-injbeamdiag/as_ap_injbeamdiag/csdev.py
  as-ap-injbeamdiag/as_ap_injbeamdiag/main.py
Owners: @xresende, @anacso17, @fernandohds564

Fix bugs in as_ap_injbeamdiag
  as-ap-injbeamdiag/as_ap_injbeamdiag/as_ap_injbeamdiag.py
  as-ap-injbeamdiag/as_ap_injbeamdiag/csdev.py
  as-ap-injbeamdiag/as_ap_injbeamdiag/main.py
  as-ap-injbeamdiag/setup.py
Owners: @xresende, @anacso17, @fernandohds564
